<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PW</title>
<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	background-color: #FFF;
	background-image: url(Picture1.png);
	background-repeat: repeat-y;
}
</style>
</head>

<body>
<div align="center"><img src="12165984_928473413887863_25064041_n.jpg" width="250" height="214" />
  <ul id="MenuBar1" class="MenuBarHorizontal">
    <li><a href="FundacionLog.html">Home</a></li>
    <li><a href="Usuarios.html">Usuarios</a></li>
    <li><a href="Inventarios.html" class="MenuBarItemSubmenu">Inventarios</a>
      <ul>
        <li><a href="#">Inventario general</a></li>
      </ul>
    </li>
    <li><a href="#" class="MenuBarItemSubmenu">Eventos</a>
      <ul>
        <li><a href="#">Agregar Nuevo Evento</a></li>
      </ul>
    </li>
</ul>
</div>
<p>&nbsp; </p>
<p>Inventario de Entradas</p>
<p>&nbsp;</p>
<p>Inventario de Salidas</p>
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
  </script>
</body>
</html>
