{% extends "General/base.html"%}
{% block title %} Registro de estados de evento {% endblock %}
{% block content %}
<section class="container content-section text-center">

<!-- <div class="bs-docs-section">
	<div class="container">
		<h3 class="page-header">Registro de estados de evento</h3>
		<h5> {{mensaje}} </h5>
	</div> -->
	<div class="container-wrapper">
		<div class="container">
			<div class="row">

				<!-- <form class ="col-md-4"action="/eve/alta_eveedo/" method="POST" enctype="multipart/form-data">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								{% csrf_token %}
								{{ form.as_p }}
								<input type="submit" class="btn btn-default" value="Registrar">
							</div>
						</div>
					</div>
				</form> -->

				<form class="form-horizontal"action="/eve/alta_eveedo/" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
				<fieldset>

				<!-- Form Name -->
				<legend>Registro de estados de evento</legend>
				<h4> {{mensaje}} </h4>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="estado">Estado</label>
				  <div class="col-md-4">
				  <input id="estado" max_length="25" name="estado" type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="descr">Descripcion</label>
				  <div class="col-md-4">
				  <input id="descr" max_length="100" name="descr" type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>

				<!-- Button -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="boton"></label>
				  <div class="col-md-4">
				    <button id="boton" name="boton" class="btn btn-primary">Registrar</button>
				  </div>
				</div>

				</fieldset>
				</form>

			</div>
		</div>

	</div>
</div>
</section>
{% endblock %}
