{% extends "General/base.html"%}
{% block title %} Registro de usuarios {% endblock %}
{% block content %}
<div class="bs-docs-section">
	<!-- <div class="container">
		<h3 class="page-header">Registro de usuarios</h3>
		<h5> {{mensaje}} </h5>
	</div> -->
	<div class="container-wrapper">
		<div class="container">
			<div class="row">

				<!-- <form class ="col-md-4" action="/usr/alta_usr/" method="POST" enctype="multipart/form-data">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								{% csrf_token %}
								{{ form.as_p }}
								<input type="submit" class="btn btn-default" value="Registrar">
							</div>
						</div>
					</div>
				</form> -->

				<form class="form-horizontal" action="/usr/alta_usr/" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend>Alta de usuario</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Usuario</label>
  <div class="col-md-4">
  <input id="textinput" name="usuario" type="text" class="form-control input-md" required>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Contrasena</label>
  <div class="col-md-4">
    <input id="passwordinput" name="pass1" type="password"  class="form-control input-md" required>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Confirma Contrasena</label>
  <div class="col-md-4">
    <input id="passwordinput" name="pass2" type="password"  class="form-control input-md" required>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Afiliado</label>
  <div class="col-md-4">
    <select id="selectbasic" name="afiliado" class="form-control" required>
			{% for i in afiliados %}
				<option value="{{i.id}}">{{i.ape_pat}} {{i.ape_mat}} , {{i.nombre}}</option>
			{% endfor %}
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Tipo de usuario</label>
  <div class="col-md-4">
    <select id="selectbasic" name="tusuario" class="form-control" required>
			{% for i in tusuario %}
				<option value="{{i.id}}">{{i}}</option>
			{% endfor %}
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Registrar</button>
  </div>
</div>

</fieldset>
</form>


			</div>
		</div>

	</div>
</div>
{% endblock %}
