{% extends "General/base.html"%}
{% block title %} Reporte de tipos de usuarios{% endblock %}
{% block content %}

	<div class="container">
		<h3> Reporte de tipos de usuarios</h3>
	</div>

	<div class="container">
		<section class="row">
			<div class="panel panel-default">

			<div class="panel-heading">Tipos de usuarios registrados</div>
				<table class="table">
					<thead>
						<tr>
							<th>Tipo de afiliado</th>
						</tr>
					</thead>
					<tbody>
						{% for item in mensaje %}
							<tr>
								<td> {{item.name}} </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</div>


{% endblock %}
