{% extends "General/base.html"%}
{% block title %} Reporte de afiliados {% endblock %}
{% block content %}

	<div class="container">
		<h3>Reporte de afiliados</h3>
	</div>

	<div class="container">
		<section class="row">
			<div class="panel panel-default">

			<div class="panel-heading">Afiliados registrados</div>
				<table class="table">
					<thead>
						<tr>
							<th>Foto</th>
							<th>Nombres</th>
							<th>Apellido Pat.</th>
							<th>Apellido Mat.</th>
							<th>Edad</th>
							<th>Direccion</th>
							<th>Tipo de afiliado</th>
							<th>Fecha de registro</th>
						</tr>
					</thead>
					<tbody>
						{% for item in mensaje %}
							<tr>
								<td> <a href="/media/{{item.imagen}}"> <img src="/media/{{item.imagen}}" class="img-responsive" alt="{{item.nombre}}" height="100" width="100"> </a> </td>
								<td> {{item.nombre}}</td>
								<td> {{item.ape_pat}} </td>
								<td> {{item.ape_mat}} </td>
								<td> {{item.edad}} </td>
								<td> {{item.direccion}} </td>
								<td> {{item.id_tafil}} </td>
								<td> {{item.ult_act}} </td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</div>


{% endblock %}
