<div class="container-fluid">

    <!-- Second navbar for profile settings -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SAORA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Inicio</a></li>

{% if request.user.groups.all.0.name == "Adopcion" or user.is_superuser %}
            <li>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Adopcion <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/adop/alta_adopcion/">Alta de adopcion</a></li>
                    <li><a href="/adop/alta_adoptante">Alta de adoptante</a></li>
                    <li><a href="/adop/alta_visita">Alta de visitas</a></li>
                    <li class="divider"></li>
                    <li><a href="/adop/con_adopcion">Consulta de adopciones</a></li>
                    <li><a href="/adop/con_adoptante">Consulta de adoptante</a></li>
                    <li><a href="/adop/con_visita">Consulta de visitas</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            {% endif %}

            {% if request.user.groups.all.0.name == "Eventos" or user.is_superuser %}
            <li>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Eventos <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/eve/alta_eve/">Alta de evento</a></li>
                    <li><a href="/eve/alta_patro">Alta de patrocinador</a></li>
                    <li><a href="/eve/alta_eve_patro">Alta de patrocinador por evento</a></li>
                    <li class="divider"></li>
                    <li><a href="/eve/con_eve">Consulta de evetos</a></li>
                    <li><a href="/eve/con_patro">Consulta de patrocinadores</a></li>
                    <li><a href="/eve/con_eve_patro">Consulta de patrocinadores por eventos</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if request.user.groups.all.0.name == "Inventario" or user.is_superuser %}
            <li>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Inventario <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/">Pendiente</a></li>
                    <li class="divider"></li>
                    <li><a href="/">Pendiente</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if request.user.groups.all.0.name == "Rescate" or user.is_superuser %}
            <li>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Rescate <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/res/alta_rescate/">Alta de rescate</a></li>
                    <li><a href="/res/alta_animal/">Alta de animal</a></li>
                    <li class="divider"></li>
                    <li><a href="/res/con_rescate/">Consulta de rescate</a></li>
                    <li><a href="/res/con_animal/">Consulta de animal</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if request.user.groups.all.0.name == "Administracion" or user.is_superuser %}
            <li>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Administracion <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/usr/alta_usr/">Alta de usuario</a></li>
                    <li><a href="/usr/alta_afil">Alta de afiliado</a></li>
                    <li class="divider"></li>
                    <li><a href="/usr/con_usr">Consulta de usuario</a></li>
                    <li><a href="/usr/con_afil">Consulta de afiliado</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            {% endif %}

            {% if user.is_superuser %}
            <li>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> SUPERUSER!!! <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/usr/alta_tusr/">Alta de tipos de usuarios</a></li>
                    <li><a href="/usr/alta_tafil">Alta de tipos de afiliados</a></li>
                    <li><a href="/adop/alta_ado_edo">Alta de estados de adopcion</a></li>
                    <li><a href="/eve/alta_eveedo">Alta de estados de eventos</a></li>
                    <li><a href="/eve/alta_teve">Alta de tipos de eventos</a></li>
                    <li><a href="/res/alta_tanimal">Alta de tipos de animales</a></li>
                    <li><a href="/res/alta_raza">Alta de razas</a></li>

                    <li class="divider"></li>
                    <li><a href="/usr/con_tusr">Consulta de tipos de usuarios</a></li>
                    <li><a href="/usr/con_tafil">Consulta de tipos de afiliados</a></li>
                    <li><a href="/adop/con_ado_edo">Consulta de estados de adopcion</a></li>
                    <li><a href="/eve/con_eveedo">Consulta de estados de eventos</a></li>
                    <li><a href="/eve/con_teve">Consulta de tipos de eventos</a></li>
                    <li><a href="/res/con_tanimal">Consulta de tipos de animales</a></li>
                    <li><a href="/res/con_raza">Consulta de razas</a></li>

                  </ul>
                </li>
              </ul>
            </li>
            {% endif %}

            <li>
                <a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse" href="#nav-collapse4" aria-expanded="false" aria-controls="nav-collapse4">Perfil <i class=""></i> </a>
            </li>
          </ul>
          <ul class="collapse nav navbar-nav nav-collapse" role="search" id="nav-collapse4">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <!-- <img class="img-circle" src="http://localhost:8000/media/{{request.Usuario.id_afil}}" alt="maridlcrmn" width="20" /> -->
                {{request.user.username}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Perfil</a></li>
                <li class="divider"></li>
                <li><a href="/usr/cerrar/">Cerrar Sesion</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->
