

    <!-- Second navbar for sign in -->

        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">SAORA</a>
        </div> -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <!-- <i class="fa fa-play-circle"></i>   -->
                        <span class="light">Fundación Ángeles Del Reino Animal A.C</span>
                    </a>
                </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a class="page-scroll" href="#home">Inicio</a>
            </li>
            <li>
                <a class="page-scroll" href="#about">Acerca de</a>
            </li>
            <li>
                <a class="page-scroll" href="#eventos">Eventos</a>
            </li>
            <li><a class="page-scroll" href="#redes">Redes Sociales</a></li>
            <!-- <li><a class="page-scroll" href="#contact">Contactanos</a></li> -->
            <li>
              <a class="page-scroll "  data-toggle="collapse" href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2">Ingresar</a>
            </li>
          </ul>
          <div class="collapse nav navbar-nav nav-collapse" id="nav-collapse2">
            <form class="navbar-form navbar-right form-inline" role="form" action="/" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label class="sr-only" for="Usuario">Usuario</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" autofocus required />
              </div>
              <div class="form-group">
                <label class="sr-only" for="Contrasena">Contrasena</label>
                <input type="password" class="form-control" id="password"  name="password" placeholder="Contrasena" required />
              </div>
              <button type="submit" class="btn btn-success">Ingresar</button>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
