{% extends "General/base.html"%}
{% block title %} Registro de adopciones {% endblock %}
{% block content %}
<div class="bs-docs-section">
	<!-- <div class="container">
		<h3 class="page-header">Registro de adopciones </h3>
		<h5> {{mensaje}} </h5>
	</div> -->
	<div class="container-wrapper">
		<div class="container">
			<div class="row">

				<!-- <form class ="col-md-4">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								{% csrf_token %}
								{{ form.as_p }}
								<input type="submit" class="btn btn-default" value="Registrar">
							</div>
						</div>
					</div>
				</form> -->

				<form class="form-horizontal" action="/adop/alta_adopcion/" method="POST" enctype="multipart/form-data">
					{% csrf_token %}

				<fieldset>

				<!-- Form Name -->
				<legend>Registro de adopciones</legend>

				<h4> {{mensaje}} </h4>
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="textinput">Folio</label>
				  <div class="col-md-4">
				  <input id="textinput" name="folio" type="text"class="form-control input-md">
				  <!-- <span class="help-block">help</span> -->
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="selectbasic">Adoptante</label>
				  <div class="col-md-4">
				    <select id="selectbasic" name="adoptante" class="form-control">
							{% for i in adotantes %}
								<option value="{{i.id}}">{{i.ape_pat}} {{i.ape_mat}} , {{i.nombre}}</option>
							{% endfor %}
				    </select>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="selectbasic">Animal</label>
				  <div class="col-md-4">
				    <select id="selectbasic" name="animal" class="form-control">
							{% for i in animales %}
								<option value="{{i.id}}">{{i.nombre}}</option>
							{% endfor %}
				    </select>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="selectbasic">Estado</label>
				  <div class="col-md-4">
				    <select id="selectbasic" name="estado" class="form-control">
							{% for i in estados %}
								<option value="{{i.id}}">{{i.estado}}</option>
							{% endfor %}
				    </select>
				  </div>
				</div>

				<!-- Button -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="singlebutton"></label>
				  <div class="col-md-4">
				    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Registrar</button>
				  </div>
				</div>

				</fieldset>
				</form>




			</div>
		</div>

	</div>
</div>
{% endblock %}
