{% extends "General/base.html"%}
{% block title %} Reporte de Estados de adopcion {% endblock %}
{% block content %}

<section class="container content-section text-center">
	<div class="container">
		<h3>Reporte de Estados de adopcion</h3>
	</div>

	<div class="container">
		<section class="row">
			<div class="panel panel-default">

			<div class="panel-heading">Estados de adopcion registrados</div>
				<table class="table">
					<thead>
						<tr>
              <th>Estado de adopcion</th>
              <th>Descripcion</th>
						</tr>
					</thead>
					<tbody>
						{% for item in mensaje %}
							<tr>
                <td> {{item.estado}}</td>
								<td> {{item.descr}} </td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</div>


</section>
{% endblock %}
