{% extends "General/base.html"%}
{% block title %} Reporte de usuarios {% endblock %}
{% block content %}
<section class="container content-section text-center">

	<div class="container">
		<h3>Reporte de usuarios</h3>
	</div>

	<div class="container">
		<section class="row">
			<div class="panel panel-default">

			<div class="panel-heading">Usuarios registrados</div>
				<table class="table">
					<thead>
						<tr>
							<th>Folio de adopcion</th>
							<th>No de visita</th>
							<th>Descripcion</th>
							<th>Fecha de registro</th>
						</tr>
					</thead>
					<tbody>
						{% for item in mensaje %}
							<tr>
								<td> {{item.id_adopcion}}</td>
								<td> {{item.no_visita}} </td>
								<td> {{item.descr}} </td>
								<td> {{item.ult_act}} </td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</div>

</section>

{% endblock %}
